<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="objectives_css.css">
    <!--    bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta facilityType="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<form th:action="@{/facility/facility/create}" th:object="${facilities}" method="post" style="width: 450px;
        height: 450px; margin: 0 auto">
    <div class="input-group mb-3">
        <input type="text" th:field="*{id}" id="facility-id" hidden>
        <span class="input-group-text">@</span>
        <select th:field="*{facilityType}" id="standRoom" >
            <option th:each="item:${facilityTypes}"
                    th:value="${item.id}"
                    th:text="${item.name}"
            ></option>
        </select>
        <span class="input-group-text">amount</span>
        <input type="text" class="form-control" placeholder="amount / số lượng "
               th:field="*{amount}" id="facility-amount">
<!--        <p style="color:red"-->
<!--           th:errors="*{amount}"-->
<!--           th:if="${#fields.hasErrors('amount')}"></p>-->
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" >@</span>
        <input type="text" class="form-control" placeholder="name / Tên dịch vụ" aria-label="name"
               aria-describedby="basic-addon1" th:field="*{name}" id="facilityName">
<!--        <p style="color:red"-->
<!--           th:errors="*{name}"-->
<!--           th:if="${#fields.hasErrors('name')}"></p>-->
    </div>
    <div class="input-group mb-3" id="villa">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" id="facilityConvenience" placeholder="convenience / tiện nghi"
               aria-label="convenience"
               aria-describedby="basic-addon1" th:field="*{convenience}">
<!--        <p style="color:red"-->
<!--           th:errors="*{convenience}"-->
<!--           th:if="${#fields.hasErrors('convenience')}"></p>-->
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Area</span>
        <input type="text" class="form-control" id="facilityArea" placeholder="Area / diện tích" th:field="*{area}">
<!--        <p style="color:red"-->
<!--           th:errors="*{area}"-->
<!--           th:if="${#fields.hasErrors('area')}"></p>-->
        <span class="input-group-text">Cost</span>
        <input type="text" class="form-control" id="facilityCost" placeholder="cost / giá" th:field="*{cost}">
<!--        <p style="color:red"-->
<!--           th:errors="*{cost}"-->
<!--           th:if="${#fields.hasErrors('cost')}"></p>-->
    </div>
    <div class="input-group mb-3" id="floor_rooms">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control"  placeholder="floors / số tầng" th:field="*{floors}">
<!--        <p style="color:red"-->
<!--           th:errors="*{floors}"-->
<!--           th:if="${#fields.hasErrors('floors')}"></p>-->
        <span class="input-group-text">@</span>
        <input type="text" class="form-control"
               placeholder="pool_area / diện tích hồ bơi" th:field="*{pool_area}">
<!--        <p style="color:red"-->
<!--           th:errors="*{pool_area}"-->
<!--           th:if="${#fields.hasErrors('pool_area')}"></p>-->
    </div>
    <div class="input-group mb-3" id="room">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" id="facilityFree"
               placeholder="facility_free / dịch vụ miễn phí đi kèm" aria-label="facility_free"
               aria-describedby="basic-addon1"
               th:field="*{facility_free}">
<!--        <p style="color:red"-->
<!--           th:errors="*{facility_free}"-->
<!--           th:if="${#fields.hasErrors('facility_free')}"></p>-->
    </div>
    <div class="input-group mb-3">
        <select th:field="*{rentType}" id="facilityRentTypes">-->
            <option th:each="item:${rentTypes}" th:value="${item.id}"
                    th:text="${item.note}"></option>
        </select>
    </div>
    <p>
        <input type="submit" value="Create blog">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <!--        <button type="submit" value="close"><a href="/customer"></a></button>-->

        <!--        <a href="/customer">back</a>-->
    </p>
</form>
</body>
</body>
<script>
    $(document).ready(function(){
        $(document).ready(function(){
            $("#standRoom").change(function(){
                if($(this).val() == '1'){
                    $("#villa").show()
                    $("#house").hide()
                    $("#room").hide()
                }
                if($(this).val() == '2'){
                    $("#house").show()
                    $("#villa_room").show()
                    $("#room").hide()
                    $("#villa").hide()
                    $("#standardRoom").hide()
                    $("#floor_rooms").hide()


                }
                if($(this).val() == '3'){
                    $("#room").show()
                    $("#villa").hide()
                    $("#house").hide()
                    $("#floor_rooms").hide()
                    $("#convenience").hide()
                }
            });

        });

    });
</script>
</html>